# OSX files #
.DS_Store

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/

# IntelliJ specific #
moose.iml
.idea/
out/

# Class Files #
*.class

# Package/Build Files #
*.war
*.ear
lib/nblibraries.properties
lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml
moose-*-installer.pkg
moose-*-installer.dmg
META-INF/
deploy/

# Other random files #
Application Support - Moose
