# OSX files #
.DS_Store

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
deploy/

# IntelliJ specific #
moose.iml
.idea/
out/

# Class Files #
*.class

# Package Files #
*.war
*.ear
lib/nblibraries.properties
lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml
moose.icns
Moose-1.0.0.pkg
moose-installer.pkg

# Other random files #
Application Support - Moose
